body {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.post-link {
  text-decoration: none;
}

.post-detail-view-counts,
.comment-detail-view-counts {
  display: inline-flex;
  /*position: fixed;*/
  /*top: 16px;*/
  /*right: 16px*/
}

.post-detail-view-counts .post-chip,
.comment-detail-view-counts .comment-chip {
  height: 24px;
}

.post-detail-view-counts .post-chip > div,
.comment-detail-view-counts .comment-chip > div {
  height: 24px;
  width: 24px;
}

.inline-chip {
  margin-right: 8px;
  display: inline-flex !important;
}

.post-chip {
  margin-right: 8px;
}

.post-vote-count,
.post-comment-count {
  display: inline-flex;
}

.comments-title {
  /*padding: 16px;*/
}

.comments-toolbar {
  padding-left: 9px !important;
}

.card-header {
  flex-direction: row-reverse;
  padding-right: 0 !important;
  padding-bottom: 16px !important;
}

.card-container {
  margin-bottom: 24px;
}

.category-title {
  text-transform: capitalize;
}

.category-link {
  color: rgba(0, 0, 0, 0.87);
  margin-left: -16px;
  margin-right: -16px;
  padding: 12px 16px;
  width: 100%;
  text-decoration: none;
  text-transform: capitalize;
}

.grid-container {
  padding: 24px 40px;
}

.count-badge {
  display: flex !important;
}

.flex-grow {
  flex: 1;
}

.nav-toolbar {
  padding-left: 9px !important;
}

.post-detail.nav-toolbar {
  padding-right: 9px !important;
}

.appTitle {
  flex: 1;
}

.appTitle > button {
  margin-left: 10px;
}

.appFrame: {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.vote-up-down {
  display: inline-flex;
}
